---
layout: layouts/base.liquid
pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
---

{%- for post in posts -%}
<h1 class="text-4xl text-brandDark">
  <a href="{{ post.url }}">{{ post.data.title }}</a>
</h1>
<p class="flex items-center text-gray-600 -mt-2">
  <span class="mx-1">{{ post.date | date: "%d %B, %Y" }}</span>
  <span>·</span>
  <span class="mx-1">{{ post.templateContent | wordCount }}</span>
  {% if post.data.videoLink %}
  <span>·</span>
  <span class="mx-1">{{ post.data.videoDuration }} to watch</span>
  {% endif %}
</p>
<div class="mb-12 mt-2 text-xl text-justify">{{ post.data.description }}</div>
{%- endfor -%} {% if pagination.href.previous %}
<a href="{{ pagination.href.previous }}">Previous</a>
{% endif %} {% if pagination.href.next %}
<a href="{{ pagination.href.next }}">Next</a>
{% endif %}
