<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <meta content="{{ title }}" name="Description">
        <base target="_blank"/>
        <link href="/favicon.png" rel="icon"/>
        <link href="/css/tailwind.css" rel="stylesheet"/>
        {% include _google_analytics.html %}
        <title>Stubborn Code -
            {{ title }}</title>
    </head>
    <body>
        {% include _header.html %}
        <div class="container px-6 sm:px-12 lg:px-48 pb-12 sm:pb-20 pt-4 sm:pt-8 leading-tight sm:leading-normal text-center sm:text-left m-auto">
            <div class="text-3xl sm:text-4xl text-brandDark">{{ title }}</div>
            <div class="flex flex-col xs:flex-row justify-center sm:justify-start text-gray-700">
                <span class="mx-1">
                    <span class="inline xs:hidden">Posted on</span>
                    {{ date | date: "%d %B, %Y" }}</span>
                <span class="hidden xs:block">·</span>
                <span class="mx-1">{{ content | wordCount }}</span>
                {% if videoLink %}
                    <span class="hidden xs:block">·</span>
                    <span class="mx-1">{{ videoDuration }}
                        to watch</span>
                {% endif %}
            </div>
            {% if videoLink %}
                <div class="mt-4 sm:mt-8 text-2xl sm:text-3xl italic text-brandLight">
                    <h3>tl;dw If you prefer a text version keep on reading!</h3>
                </div>
            {% endif %}
            <div class="markdown">
                {{ content }}
            </div>
        </div>
        {% include _footer.html %}
    </body>
</html>
